{
	"swagger": "2.0",
	"info": {
		"title": "xM API",
		"description": "The xM API",
		"version": "1.0.0-alpha"
	},
	"host": "api.xmatters.com",
	"basePath": "/api/xm/1",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"paths": {
		"/devices": {
			"post": {
				"tags": [
					"Devices"
				],
				"summary": "Add or update a device",
				"description": "Add or update a device",
				"operationId": "postDevice",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/DevicePost"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/Device"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/BadRequestResponse"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/devices/{deviceId}": {
			"get": {
				"tags": [
					"Devices"
				],
				"summary": "Retrieve device information",
				"description": "Retrieve device information",
				"operationId": "getDevice",
				"parameters": [
					{
						"name": "deviceId",
						"in": "path",
						"description": "The device uuid or targetName",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Device"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Devices"
				],
				"summary": "Remove a device",
				"description": "Remove a device",
				"operationId": "deleteDevice",
				"parameters": [
					{
						"name": "deviceId",
						"in": "path",
						"description": "The device uuid or targetName",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Device"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/events": {
			"get": {
				"tags": [
					"Events"
				],
				"summary": "Find events",
				"description": "Find events",
				"operationId": "getEvents",
				"parameters": [
					{
						"name": "after",
						"in": "query",
						"description": "Where event start time is after this time",
						"required": false,
						"type": "string",
						"format": "date-time"
					},
					{
						"name": "before",
						"in": "query",
						"description": "Where event start time is before this time",
						"required": false,
						"type": "string",
						"format": "date-time"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Events"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			},
			"post": {
				"tags": [
					"Events"
				],
				"summary": "Update an existing event",
				"description": "Update an existing event",
				"operationId": "postEvent",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/EventPost"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Event"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/BadRequestResponse"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/events/{eventId}": {
			"get": {
				"tags": [
					"Events"
				],
				"summary": "Retrieve event information",
				"description": "Retrieve event information",
				"operationId": "getEvent",
				"parameters": [
					{
						"name": "eventId",
						"in": "path",
						"description": "The event id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Event"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/form-submissions": {
			"post": {
				"tags": [
					"Forms"
				],
				"summary": "Submit a form",
				"description": "Submit a form (creates an event)",
				"operationId": "postFormSubmission",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/FormSubmissionPost"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/FormSubmission"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/BadRequestResponse"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/groups": {
			"post": {
				"tags": [
					"Groups"
				],
				"summary": "Add or update a group",
				"description": "Add or update a group",
				"operationId": "postGroup",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/GroupPost"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/Group"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/BadRequestResponse"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/groups/{groupId}": {
			"get": {
				"tags": [
					"Groups"
				],
				"summary": "Retrieve group information",
				"description": "Retrieve group information",
				"operationId": "getGroup",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Group"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Groups"
				],
				"summary": "Remove a group",
				"description": "Remove a group",
				"operationId": "deleteGroup",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Group"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/groups/{groupId}/members": {
			"get": {
				"tags": [
					"Group Members"
				],
				"summary": "List group members",
				"description": "List group members",
				"operationId": "getGroupMembers",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "Filter by status",
						"required": false,
						"type": "string",
						"enum": ["ACTIVE", "INACTIVE"]
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Recipients"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			},
			"post": {
				"tags": [
					"Group Members"
				],
				"summary": "Add group members",
				"description": "Add group members",
				"operationId": "postGroupMember",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/RecipientReference"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Recipient"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/BadRequestResponse"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/groups/{groupId}/members/{memberId}": {
			"delete": {
				"tags": [
					"Group Members"
				],
				"summary": "Remove group member",
				"description": "Remove group member",
				"operationId": "deleteGroupMember",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					},
					{
						"name": "memberId",
						"in": "path",
						"description": "The id or url encoded targetName of the recipient",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Recipient"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/groups/{groupId}/shifts": {
			"get": {
				"tags": [
					"Shifts"
				],
				"summary": "List shifts",
				"description": "List shifts",
				"operationId": "getShifts",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "Filter by status",
						"required": false,
						"type": "string",
						"enum": ["ACTIVE", "INACTIVE"]
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Shifts"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			},
			"post": {
				"tags": [
					"Shifts"
				],
				"summary": "Add or update a shift",
				"description": "Add or update a shift",
				"operationId": "postShift",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/ShiftPost"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Shift"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/BadRequestResponse"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/groups/{groupId}/shifts/{shiftId}": {
			"get": {
				"tags": [
					"Shifts"
				],
				"summary": "Retrieve shift information",
				"description": "Retrieve shift information",
				"operationId": "getShift",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					},
					{
						"name": "shiftId",
						"in": "path",
						"description": "The uuid or name of the shift. e.g. 24/7. Must be URL encoded.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Shift"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Shifts"
				],
				"summary": "Remove a shift",
				"description": "Remove a shift",
				"operationId": "deleteShift",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					},
					{
						"name": "shiftId",
						"in": "path",
						"description": "The id or name of the shift. e.g. 24/7. Must be URL encoded.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Shift"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/groups/{groupId}/shifts/{shiftId}/members": {
			"get": {
				"tags": [
					"Shift Members"
				],
				"summary": "List shift members",
				"description": "List shift members",
				"operationId": "getShiftMembers",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					},
					{
						"name": "shiftId",
						"in": "path",
						"description": "The id or name of the shift. e.g. 24/7. Must be URL encoded.",
						"required": true,
						"type": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "Filter by status",
						"required": false,
						"type": "string",
						"enum": ["ACTIVE", "INACTIVE"]
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Recipients"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			},
			"post": {
				"tags": [
					"Shift Members"
				],
				"summary": "Add shift members",
				"description": "Add shift members",
				"operationId": "postShiftMember",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					},
					{
						"name": "shiftId",
						"in": "path",
						"description": "The id or name of the shift. e.g. 24/7. Must be URL encoded.",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/RecipientReference"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Recipient"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/BadRequestResponse"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/groups/{groupId}/shifts/{shiftId}/members/{memberId}": {
			"delete": {
				"tags": [
					"Shift Members"
				],
				"summary": "Remove shift member",
				"description": "Remove shift member",
				"operationId": "deleteShiftMember",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group uuid or targetName",
						"required": true,
						"type": "string"
					},
					{
						"name": "shiftId",
						"in": "path",
						"description": "The id or name of the shift. e.g. 24/7. Must be URL encoded.",
						"required": true,
						"type": "string"
					},
					{
						"name": "memberId",
						"in": "path",
						"description": "The id or url encoded targetName of the recipient",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Recipient"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/info": {
			"get": {
				"tags": [
					"Info"
				],
				"summary": "Retrieve API information",
				"description": "Retrieve API information",
				"operationId": "getInfo",
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Info"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/people": {
			"post": {
				"tags": [
					"People"
				],
				"summary": "Add or update a person",
				"description": "Add or update a person",
				"operationId": "postPerson",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/PersonPost"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/Person"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/BadRequestResponse"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/people/{personId}": {
			"get": {
				"tags": [
					"People"
				],
				"summary": "Retrieve person information",
				"description": "Retrieve person information",
				"operationId": "getPerson",
				"parameters": [
					{
						"name": "personId",
						"in": "path",
						"description": "The person's uuid or targetName",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Person"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"People"
				],
				"summary": "Remove a person",
				"description": "Remove a person",
				"operationId": "deletePerson",
				"parameters": [
					{
						"name": "personId",
						"in": "path",
						"description": "The person's uuid or targetName",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Person"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/ConflictResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/people/{personId}/devices": {
			"get": {
				"tags": [
					"People"
				],
				"summary": "Retrieve a person's devices",
				"description": "Retrieve a person's devices",
				"operationId": "getPersonDevices",
				"parameters": [
					{
						"name": "personId",
						"in": "path",
						"description": "The person's uuid or targetName",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Devices"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		},
		"/sites/{siteId}": {
			"get": {
				"tags": [
					"Sites"
				],
				"summary": "Retrieve site information",
				"description": "Retrieve site information",
				"operationId": "getSite",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "The site uuid or name",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Site"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/UnauthorizedResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/ForbiddenResponse"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/NotFoundResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/TooManyRequestsResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/InternalServerErrorResponse"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Conference": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				}
			},
			"required": ["id"]
		},
		"Conferences": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Conference"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"Device": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Recipient"
				}
			],
			"discriminator": "deviceType",
			"properties": {
				"deviceType": {
					"type": "string",
					"enum": [
						"EMAIL",
						"VOICE",
						"TEXT_PHONE",
						"TEXT_PAGER",
						"NUMERIC_PAGER",
						"IM",
						"BROWSER",
						"APPLE_PUSH",
						"FAX",
						"ANDROID_PUSH",
						"BLACKBERRY_PUSH",
						"VOICE_IVR"
					]
				},
				"description": {
					"type": "string"
				},
				"details": {
					"type": "string"
				},
				"emergencyDevice": {
					"type": "boolean"
				},
				"priorityThreshold": {
					"type": "string",
					"enum": ["LOW", "MEDIUM", "HIGH"],
					"default": "LOW"
				},
				"sequence": {
					"type": "integer",
					"default": -1
				},
				"delay": {
					"type": "integer",
					"default": 0
				},
				"owner": {
					"$ref": "#/definitions/ReferenceByIdAndSelfLink"
				}
			},
			"required": [
				"deviceType",
				"emergencyDevice",
				"owner"
			]
		},
		"Devices": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Device"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"DevicePost": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/RecipientPost"
				}
			],
			"discriminator": "deviceType",
			"properties": {
				"deviceType": {
					"type": "string",
					"enum": [
						"EMAIL",
						"VOICE",
						"TEXT_PHONE",
						"TEXT_PAGER",
						"NUMERIC_PAGER",
						"IM",
						"BROWSER",
						"APPLE_PUSH",
						"FAX",
						"ANDROID_PUSH",
						"BLACKBERRY_PUSH",
						"VOICE_IVR"
					]
				},
				"description": {
					"type": "string"
				},
				"details": {
					"type": "string"
				},
				"emergencyDevice": {
					"type": "boolean",
					"default": false
				},
				"priorityThreshold": {
					"type": "string",
					"enum": ["LOW", "MEDIUM", "HIGH"],
					"default": "LOW"
				},
				"sequence": {
					"type": "integer",
					"default": -1
				},
				"delay": {
					"type": "integer",
					"default": 0
				},
				"owner": {
					"$ref": "#/definitions/ReferenceById"
				}
			},
			"required": [
				"deviceType",
				"owner"
			]
		},
		"DeviceTimeframe": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"startTime": {
					"type": "string"
				},
				"duration": {
					"description": "",
					"type": "integer"
				},
				"days": {
					"type": "array",
					"items": {
						"type": "string",
						"enum": ["SU", "MO", "TU", "WE", "TH", "FR", "SA"]
					}
				},
				"excludeHolidays": {
					"type": "boolean"
				}
			},
			"required": [
				"name",
				"startTime",
				"excludeHolidays"
			]
		},
		"DeviceTimeframes": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/DeviceTimeframe"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"EmailDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"address": {
					"type": "string"
				}
			},
			"required": [
				"address"
			]
		},
		"VoiceDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"phoneNumber": {
					"type": "string",
					"description": "E.164 international format phone number including country code"
				}
			},
			"required": [
				"phoneNumber"
			]
		},
		"TextPhoneDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"phoneNumber": {
					"type": "string",
					"description": "E.164 international format phone number including country code"
				}
			},
			"required": [
				"phoneNumber"
			]
		},
		"TextPagerDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"pin": {
					"type": "string"
				},
				"isTwoWay": {
					"type": "boolean"
				}
			},
			"required": [
				"pin",
				"isTwoWay"
			]
		},
		"NumericPagerDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"pagerNumber": {
					"type": "string"
				},
				"country": {
					"type": "string"
				},
				"areaCode": {
					"type": "string"
				},
				"pin": {
					"type": "string"
				},
				"isTwoWay": {
					"type": "boolean"
				}
			}
		},
		"IMDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"address": {
					"type": "string"
				}
			},
			"required": [
				"address"
			]
		},
		"ApplePushDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"accountId": {
					"type": "string"
				},
				"apnToken": {
					"type": "string"
				},
				"alertSound": {
					"type": "string"
				},
				"soundStatus": {
					"type": "string"
				},
				"soundThreshold": {
					"type": "string",
					"enum": ["LOW", "MEDIUM", "HIGH"]
				}
			},
			"required": [
				"accountId",
				"apnToken"
			]
		},
		"AndroidPushDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"accountId": {
					"type": "string"
				},
				"registrationId": {
					"type": "string"
				}
			},
			"required": [
				"accountId",
				"registrationId"
			]
		},
		"BlackberryPushDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"accountId": {
					"type": "string"
				},
				"registrationId": {
					"type": "string"
				}
			},
			"required": [
				"accountId",
				"registrationId"
			]
		},
		"FaxDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"faxNumber": {
					"type": "string",
					"pattern": "^\\d{5,20}$"
				},
				"country": {
					"type": "string",
					"enum": ["AR", "AU", "BR", "CA", "FR", "DE", "HK", "IN", "IT", "JP", "PT", "PR", "GB", "US"]
				}
			},
			"required": [
				"faxNumber"
			]
		},
		"BroadcastDevice": {
			"description": "a.k.a. Voice IVR",
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"phoneNumber": {
					"type": "string"
				}
			},
			"required": [
				"phoneNumber"
			]
		},
		"Form": {
			"type": "object",
			"description": "A form",
			"properties": {
				"id": {
					"type": "string"
				}
			},
			"required": ["id"]
		},
		"FormSubmission": {
			"type": "object",
			"description": "A form submission",
			"properties": {
				"id": {
					"type": "string"
				},
				"form": {
					"$ref": "#/definitions/Form"
				},
				"properties": {
					"description": "Map of property names and values",
					"type": "object"
				},
				"recipients": {
					"$ref": "#/definitions/Recipients"
				},
				"priority": {
					"type": "string",
					"enum": ["LOW", "MEDIUM", "HIGH"]
				},
				"conferences": {
					"$ref": "#/definitions/Conferences"
				},
				"responses": {
					"$ref": "#/definitions/Responses"
				}
			},
			"required": ["form"]
		},
		"FormSubmissionPost": {
			"type": "object",
			"description": "A form submission",
			"properties": {
				"form": {
					"$ref": "#/definitions/ReferenceById"
				},
				"properties": {
					"description": "Map of property names and values",
					"type": "object"
				},
				"recipients": {
					"description": "Note: required if pre-configured recipients do not exist",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ReferenceById"
					}
				},
				"priority": {
					"type": "string",
					"enum": ["LOW", "MEDIUM", "HIGH"]
				},
				"subscriptions": {
					"description": "Subscriptions applicable to this event only",
					"type": "array",
					"items": {
						"$ref": "#/definitions/SubscriptionPost"
					}
				},
				"conferences": {
					"description": "Set this value to the name of an existing conference bridge, or leave it empty to create a new xMatters-hosted conference bridge.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ReferenceById"
					}
				},
				"responses": {
					"description": "A list of the response options to be displayed for the event. Response options are identified by a Universally Unique Identifier (UUID).",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ReferenceById"
					}
				}
			},
			"required": ["form"]
		},
		"Event": {
			"type": "object",
			"description": "An event",
			"properties": {
				"id": {
					"type": "string",
					"description": "Unique identifier for the event"
				},
				"startTime": {
					"type": "string",
					"description": "The start time of the event",
					"format": "date-time"
				},
				"status": {
					"type": "string",
					"description": "The status of the event",
					"enum": ["ACTIVE", "SUSPENDED", "TERMINATED"]
				},
				"priority": {
					"type": "string",
					"enum": ["LOW", "MEDIUM", "HIGH"]
				},
				"formSubmission": {
					"$ref": "#/definitions/FormSubmission"
				},
				"recipients": {
					"$ref": "#/definitions/Recipients"
				}
			},
			"required": ["id", "startTime", "status", "priority", "formSubmission"]
		},
		"Events": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Event"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"EventPost": {
			"type": "object",
			"description": "An event update",
			"properties": {
				"id": {
					"type": "string",
					"description": "Unique identifier for the event"
				},
				"status": {
					"type": "string",
					"description": "The status of the event",
					"enum": ["ACTIVE", "SUSPENDED", "TERMINATED"]
				}
			},
			"required": [
				"id",
				"status"
			]
		},
		"Group": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Recipient"
				}
			],
			"properties": {
				"description": {
					"type": "string"
				},
				"timezone": {
					"type": "string"
				}
			}
		},
		"GroupPost": {
			"description": "Adding or updating a group. Will attempt to find group by id if provided or by targetName before creating a new group in the system.",
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/RecipientPost"
				}
			],
			"properties": {
				"description": {
					"type": "string"
				},
				"timezone": {
					"type": "string"
				},
				"supervisors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/ReferenceById"
					}
				}
			}
		},
		"Info": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"version": {
					"type": "string"
				},
				"dependencies": {
					"type": "object"
				}
			},
			"required": [
				"name",
				"version"
			]
		},
		"PaginationLinks": {
			"type": "object",
			"properties": {
				"self": {
					"type": "string",
					"description": "URL of this page of the result set",
					"format": "uri"
				},
				"previous": {
					"type": "string",
					"description": "URL of the previous page of the result set",
					"format": "uri"
				},
				"next": {
					"type": "string",
					"description": "URL of the next page of the result set",
					"format": "uri"
				}
			},
			"required": [
				"self"
			]
		},
		"Person": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Recipient"
				}
			],
			"properties": {
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"language": {
					"type": "string"
				},
				"timezone": {
					"type": "string"
				},
				"webLogin": {
					"type": "string"
				},
				"phoneLogin": {
					"type": "string"
				},
				"site": {
					"$ref": "#/definitions/ReferenceByIdAndSelfLink"
				}
			}
		},
		"People": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Person"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"PersonPost": {
			"description": "Adding or updating a person. Will attempt to find person by id if provided or by targetName before creating a new person in the system.",
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/RecipientPost"
				}
			],
			"properties": {
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"language": {
					"type": "string"
				},
				"timezone": {
					"type": "string"
				},
				"webLogin": {
					"type": "string"
				},
				"phoneLogin": {
					"type": "string"
				},
				"roles": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"site": {
					"$ref": "#/definitions/ReferenceById"
				},
				"supervisors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/ReferenceById"
					}
				}
			}
		},
		"Recipient": {
			"type": "object",
			"discriminator": "recipientType",
			"properties": {
				"id": {
					"type": "string"
				},
				"targetName": {
					"type": "string"
				},
				"recipientType": {
					"type": "string",
					"enum": [
						"PERSON",
						"DEVICE",
						"GROUP"
					]
				},
				"status": {
					"type": "string",
					"enum": ["ACTIVE", "INACTIVE"]
				},
				"externallyOwned": {
					"description": "Externally owned = N means that data locking in the Web UI will never take place for a record, regardless of the data locking configuration. Externally owned = Y means that data locking in the Web UI will take place for a record, but only for the fields that have data locking enabled. These records can only be deleted via EPIC.",
					"type": "boolean"
				},
				"externalKey": {
					"type": "string"
				},
				"locked": {
					"description": "When objects are in an externally owned state, locked controls which externally owned data fields users can change",
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"id",
				"targetName",
				"recipientType",
				"status",
				"externallyOwned",
				"links"
			]
		},
		"Recipients": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Recipient"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"RecipientPost": {
			"type": "object",
			"discriminator": "recipientType",
			"properties": {
				"recipientType": {
					"type": "string",
					"enum": [
						"PERSON",
						"DEVICE",
						"GROUP"
					]
				},
				"id": {
					"type": "string"
				},
				"targetName": {
					"type": "string"
				},
				"status": {
					"type": "string",
					"enum": ["ACTIVE", "INACTIVE"],
					"default": "ACTIVE"
				},
				"externallyOwned": {
					"type": "boolean"
				},
				"externalKey": {
					"type": "string"
				}
			},
			"required": [
				"recipientType",
				"targetName"
			]
		},
		"RecipientReference": {
			"description": "Reference to an existing recipient",
			"type": "object",
			"properties": {
				"id": {
					"type": "string",
					"description": "The recipient uuid or targetName"
				},
				"recipientType": {
					"type": "string",
					"enum": [
						"PERSON",
						"DEVICE",
						"GROUP"
					]
				}
			},
			"required": [
				"id",
				"recipientType"
			]
		},
		"ReferenceById": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				}
			},
			"required": [
				"id"
			]
		},
		"ReferenceByIdAndSelfLink": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"id",
				"links"
			]
		},
		"ReferenceBySelfLink": {
			"type": "object",
			"properties": {
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"links"
			]
		},
		"Response": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				}
			},
			"required": ["id"]
		},
		"Responses": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Response"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"SelfLink": {
			"type": "object",
			"properties": {
				"self": {
					"type": "string",
					"description": "URL of this resource"
				}
			},
			"required": [
				"self"
			]
		},
		"Shift": {
			"type": "object",
			"description": "A shift",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"status": {
					"type": "string",
					"enum": ["ACTIVE", "INACTIVE"]
				},
				"group": {
					"$ref": "#/definitions/ReferenceByIdAndSelfLink"
				},
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"id",
				"name",
				"status",
				"group",
				"links"
			]
		},
		"ShiftPost": {
			"type": "object",
			"description": "Adding or updating a shift. Will attempt to find shift by id if provided before creating a new shift in the system.",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"status": {
					"type": "string",
					"default": "ACTIVE",
					"enum": ["ACTIVE", "INACTIVE"]
				}
			},
			"required": [
				"name"
			]
		},
		"Shifts": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Shift"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"Site": {
			"type": "object",
			"description": "A geographic area",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"status": {
					"type": "string",
					"default": "ACTIVE",
					"enum": ["ACTIVE", "INACTIVE"]
				},
				"language": {
					"type": "string"
				},
				"timezone": {
					"type": "string"
				},
				"address1": {
					"type": "string"
				},
				"address2": {
					"type": "string"
				},
				"city": {
					"type": "string"
				},
				"country": {
					"type": "string"
				},
				"region": {
					"type": "string"
				},
				"externallyOwned": {
					"type": "boolean"
				},
				"externalKey": {
					"type": "string"
				},
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"id",
				"name",
				"status",
				"language",
				"timezone",
				"country",
				"externallyOwned",
				"links"
			]
		},
		"Subscription": {
			"description": "Subscribe to receive updates when specific events occur",
			"type": "object",
			"properties": {
				"url": {
					"description": "Callback URL to which event updates can be posted.",
					"type": "string",
					"format": "uri"
				},
				"headers": {
					"description": "Map of header names and values (both strings)",
					"type": "object"
				},
				"eventTypes": {
					"description": "Receive updates only for these events occur",
					"type": "array",
					"items": {
						"type": "string",
						"enum": [
							"STATUS",
							"DISCARD",
							"DELAY",
							"DELIVERY",
							"RESPONSE"
						]
					}
				},
				"auditTypes": {
					"description": "Receive updates only for these audits",
					"type": "array",
					"items": {
						"type": "string",
						"enum": [
							"TBD"
						]
					}
				}
			},
			"required": [
				"url"
			]
		},
		"BadRequestResponse": {
			"description": "Bad Request API response",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32",
					"enum": [400]
				},
				"reason": {
					"type": "string",
					"enum": ["Bad Request"]
				},
				"message": {
					"type": "string"
				}
			},
			"required": [
				"code",
				"reason",
				"message"
			]
		},
		"UnauthorizedResponse": {
			"description": "Unauthorized API response",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32",
					"enum": [401]
				},
				"reason": {
					"type": "string",
					"enum": ["Unauthorized"]
				},
				"message": {
					"type": "string"
				}
			},
			"required": [
				"code",
				"reason",
				"message"
			]
		},
		"ForbiddenResponse": {
			"description": "Forbidden API response",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32",
					"enum": [403]
				},
				"reason": {
					"type": "string",
					"enum": ["Forbidden"]
				},
				"message": {
					"type": "string"
				}
			},
			"required": [
				"code",
				"reason",
				"message"
			]
		},
		"NotFoundResponse": {
			"description": "Not Found API response",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32",
					"enum": [404]
				},
				"reason": {
					"type": "string",
					"enum": ["Not Found"]
				},
				"message": {
					"type": "string"
				}
			},
			"required": [
				"code",
				"reason",
				"message"
			]
		},
		"ConflictResponse": {
			"description": "Conflict API response",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32",
					"enum": [409]
				},
				"reason": {
					"type": "string",
					"enum": ["Conflict"]
				},
				"message": {
					"type": "string"
				}
			},
			"required": [
				"code",
				"reason",
				"message"
			]
		},
		"TooManyRequestsResponse": {
			"description": "Too Many Requests API response",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32",
					"enum": [429]
				},
				"reason": {
					"type": "string",
					"enum": ["Too Many Requests"]
				},
				"message": {
					"type": "string"
				}
			},
			"required": [
				"code",
				"reason",
				"message"
			]
		},
		"InternalServerErrorResponse": {
			"description": "Internal Server Error API response",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32",
					"enum": [500]
				},
				"reason": {
					"type": "string",
					"enum": ["Internal Server Error"]
				},
				"message": {
					"type": "string"
				}
			},
			"required": [
				"code",
				"reason",
				"message"
			]
		}
	}
}