{
	"swagger": "2.0",
	"info": {
		"title": "xM API",
		"description": "The xM API",
		"version": "1"
	},
	"host": "api.xmatters.com",
	"basePath": "/api/xm/v1",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"paths": {
		"/groups": {
			"post": {
				"tags": [
					"Groups"
				],
				"summary": "Add a group",
				"description": "Add a group",
				"operationId": "postGroups",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/NewGroup"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/Group"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/groups/{groupId}": {
			"get": {
				"tags": [
					"Groups"
				],
				"summary": "Get group information",
				"description": "Get group information",
				"operationId": "getGroup",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Group"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/groups/{groupId}/members": {
			"get": {
				"tags": [
					"Groups"
				],
				"summary": "Get group members",
				"description": "Get group members",
				"operationId": "getGroupMembers",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					},
					{
						"name": "shift",
						"in": "query",
						"description": "Filter results to a specific shift",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/GroupMembers"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			},
			"post": {
				"tags": [
					"Groups"
				],
				"summary": "Add group members",
				"description": "Add group members",
				"operationId": "postGroupMembers",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/NewGroupMember"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/GroupMember"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/users": {
			"post": {
				"tags": [
					"Users"
				],
				"summary": "Create a user",
				"description": "Create a user",
				"operationId": "postUsers",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/NewUser"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/User"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/users/{userId}": {
			"get": {
				"tags": [
					"Users"
				],
				"summary": "Get user information",
				"description": "Get user information",
				"operationId": "getUser",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"description": "The user id or targetName",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/User"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"NewGroup": {
			"type": "object",
			"description": "A group",
			"properties": {
				"targetName": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"status": {
					"type": "string",
					"enum": ["ACTIVE", "INACTIVE"]
				},
				"externalKey": {
					"type": "string"
				},
				"supervisors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/IdReference"
					}
				}
			},
			"required": [
				"targetName",
				"name"
			]
		},
		"Group": {
			"type": "object",
			"description": "A group",
			"properties": {
				"id": {
					"type": "string"
				},
				"targetName": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"status": {
					"type": "string",
					"enum": ["ACTIVE", "INACTIVE"]
				},
				"externalKey": {
					"type": "string"
				},
				"links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string",
							"description": "URL of this resource"
						}
					}
				}
			},
			"required": [
				"id",
				"targetName",
				"name",
				"status",
				"links"
			]
		},
		"GroupMembers": {
			"type": "object",
			"description": "Group members",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/GroupMember"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string",
							"description": "URL of this page of the result set",
							"format": "uri"
						},
						"previous": {
							"type": "string",
							"description": "URL of the previous page of the result set",
							"format": "uri"
						},
						"next": {
							"type": "string",
							"description": "URL of the next page of the result set",
							"format": "uri"
						}
					},
					"required": [
						"self"
					]
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"Team": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				}
			},
			"required": [
				"id",
				"name"
			]
		},
		"Device": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				}
			},
			"required": [
				"id",
				"name"
			]
		},
		"NewGroupMember": {
			"type": "object",
			"description": "Represents group membership",
			"properties": {
				"group": {
					"$ref": "#/definitions/IdReference"
				},
				"member": {
					"type": "object",
					"properties": {
						"group": {
							"$ref": "#/definitions/IdReference"
						},
						"team": {
							"$ref": "#/definitions/IdReference"
						},
						"user": {
							"$ref": "#/definitions/IdReference"
						},
						"device": {
							"$ref": "#/definitions/IdReference"
						}
					}
				},
				"shifts": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/NameReference"
					}
				}
			},
			"required": [
				"group",
				"member"
			]
		},
		"GroupMember": {
			"type": "object",
			"description": "Represents group membership",
			"properties": {
				"group": {
					"$ref": "#/definitions/Group"
				},
				"member": {
					"type": "object",
					"properties": {
						"group": {
							"$ref": "#/definitions/Group"
						},
						"team": {
							"$ref": "#/definitions/Team"
						},
						"user": {
							"$ref": "#/definitions/User"
						},
						"device": {
							"$ref": "#/definitions/Device"
						}
					}
				},
				"shifts": {
					"$ref": "#/definitions/Shifts"
				}
			},
			"required": [
				"group",
				"member"
			]
		},
		"Shifts": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Shift"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string",
							"description": "URL of this page of the result set",
							"format": "uri"
						},
						"previous": {
							"type": "string",
							"description": "URL of the previous page of the result set",
							"format": "uri"
						},
						"next": {
							"type": "string",
							"description": "URL of the next page of the result set",
							"format": "uri"
						}
					},
					"required": [
						"self"
					]
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"Shift": {
			"type": "object",
			"description": "A shift",
			"properties": {
				"name": {
					"type": "string"
				}
			},
			"required": [
				"name"
			]
		},
		"Site": {
			"type": "object",
			"description": "A geographic area",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string",
							"description": "URL of this resource"
						}
					},
					"required": [
						"self"
					]
				}
			},
			"required": [
				"id",
				"name",
				"links"
			]
		},
		"User": {
			"type": "object",
			"description": "A user of xMatters services",
			"properties": {
				"id": {
					"type": "string"
				},
				"targetName": {
					"type": "string"
				},
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"status": {
					"type": "string"
				},
				"language": {
					"type": "string"
				},
				"timezone": {
					"type": "string"
				},
				"externallyOwned": {
					"type": "boolean"
				},
				"webLogin": {
					"type": "string"
				},
				"phoneLogin": {
					"type": "string"
				},
				"site": {
					"$ref": "#/definitions/Site"
				},
				"profiles": {
					"type": "object",
					"properties": {
						"links": {
							"type": "object",
							"properties": {
								"self": {
									"type": "string",
									"description": "URL of this resource"
								}
							},
							"required": [
								"self"
							]
						}
					},
					"required": [
						"links"
					]
				}
			},
			"required": [
				"id",
				"targetName",
				"status"
			]
		},
		"NewUser": {
			"type": "object",
			"description": "A new user",
			"properties": {
				"targetName": {
					"type": "string"
				},
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"status": {
					"type": "string"
				},
				"language": {
					"type": "string"
				},
				"timezone": {
					"type": "string"
				},
				"externallyOwned": {
					"type": "boolean"
				},
				"webLogin": {
					"type": "string"
				},
				"phoneLogin": {
					"type": "string"
				},
				"roles": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"site": {
					"type": "string"
				},
				"supervisors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/IdReference"
					}
				}
			},
			"required": [
				"targetName",
				"status"
			]
		},
		"IdReference": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				}
			},
			"required": [
				"id"
			]
		},
		"NameReference": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				}
			},
			"required": [
				"name"
			]
		},
		"Response": {
			"description": "A coded API response",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32",
					"enum": [
						400,
						401,
						403,
						404,
						429,
						500
					]
				},
				"type": {
					"type": "string"
				},
				"message": {
					"type": "string"
				}
			},
			"required": [
				"code",
				"type",
				"message"
			]
		}
	}
}