{
	"swagger": "2.0",
	"info": {
		"title": "xM API",
		"description": "The xM API",
		"version": "1.0.0"
	},
	"host": "api.xmatters.com",
	"basePath": "/api/xm/1",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"paths": {
		"/devices": {
			"post": {
				"tags": [
					"Devices"
				],
				"summary": "Add or update a device",
				"description": "Add or update a device",
				"operationId": "postDevices",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/DevicePost"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/Device"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/devices/{deviceId}": {
			"get": {
				"tags": [
					"Devices"
				],
				"summary": "Retrieve device information",
				"description": "Retrieve device information",
				"operationId": "getDevice",
				"parameters": [
					{
						"name": "deviceId",
						"in": "path",
						"description": "The device id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Device"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Devices"
				],
				"summary": "Remove a device",
				"description": "Remove a device",
				"operationId": "deleteDevice",
				"parameters": [
					{
						"name": "deviceId",
						"in": "path",
						"description": "The device id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Device"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/groups": {
			"post": {
				"tags": [
					"Groups"
				],
				"summary": "Add or update a group",
				"description": "Add or update a group",
				"operationId": "postGroups",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/GroupPost"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/Group"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/groups/{groupId}": {
			"get": {
				"tags": [
					"Groups"
				],
				"summary": "Retrieve group information",
				"description": "Retrieve group information",
				"operationId": "getGroup",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Group"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Groups"
				],
				"summary": "Remove a group",
				"description": "Remove a group",
				"operationId": "deleteGroup",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Group"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/groups/{groupId}/members": {
			"get": {
				"tags": [
					"Group Members"
				],
				"summary": "List group members",
				"description": "List group members",
				"operationId": "getGroupMembers",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					},
					{
						"name": "shiftId",
						"in": "query",
						"description": "Filter results to a specific shift",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/GroupMembers"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			},
			"post": {
				"tags": [
					"Group Members"
				],
				"summary": "Add group members",
				"description": "Add group members",
				"operationId": "postGroupMembers",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/GroupMemberPost"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/GroupMember"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/groups/{groupId}/shifts": {
			"get": {
				"tags": [
					"Shifts"
				],
				"summary": "List shifts",
				"description": "List shifts",
				"operationId": "getShifts",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					},
					{
						"name": "personId",
						"in": "query",
						"description": "Filter results to a specific person",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Shifts"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			},
			"post": {
				"tags": [
					"Shifts"
				],
				"summary": "Add or update a shift",
				"description": "Add or update a shift",
				"operationId": "postShift",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/ShiftPost"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Shift"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/groups/{groupId}/shifts/{shiftId}": {
			"get": {
				"tags": [
					"Shifts"
				],
				"summary": "Retrieve shift information",
				"description": "Retrieve shift information",
				"operationId": "getShift",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					},
					{
						"name": "shiftId",
						"in": "path",
						"description": "This is the name of the shift. e.g. 24/7. Must be URL encoded.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Shift"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Shifts"
				],
				"summary": "Remove a shift",
				"description": "Remove a shift",
				"operationId": "deleteShift",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					},
					{
						"name": "shiftId",
						"in": "path",
						"description": "This is the name of the shift. e.g. 24/7. Must be URL encoded.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Shift"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/groups/{groupId}/supervisors": {
			"get": {
				"tags": [
					"Group Supervisors"
				],
				"summary": "List group supervisors",
				"description": "List group supervisors",
				"operationId": "getGroupSupervisors",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/GroupSupervisors"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			},
			"post": {
				"tags": [
					"Group Supervisors"
				],
				"summary": "Add group supervisors",
				"description": "Add group supervisors",
				"operationId": "postGroupSupervisors",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/GroupSupervisorPost"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/GroupSupervisor"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/groups/{groupId}/supervisors/{supervisorId}": {
			"delete": {
				"tags": [
					"Group Supervisors"
				],
				"summary": "Remove a group supervisor",
				"description": "Remove a group supervisor",
				"operationId": "deleteGroupSupervisor",
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id",
						"required": true,
						"type": "string"
					},
					{
						"name": "supervisorId",
						"in": "path",
						"description": "The supervisor person id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/GroupSupervisor"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/people": {
			"post": {
				"tags": [
					"People"
				],
				"summary": "Add or update a person",
				"description": "Add or update a person",
				"operationId": "postPeople",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/PersonPost"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/Person"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"409": {
						"description": "Conflict",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/people/{personId}": {
			"get": {
				"tags": [
					"People"
				],
				"summary": "Retrieve person information",
				"description": "Retrieve person information",
				"operationId": "getPerson",
				"parameters": [
					{
						"name": "personId",
						"in": "path",
						"description": "The person id or targetName",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Person"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		},
		"/sites/{siteId}": {
			"get": {
				"tags": [
					"Sites"
				],
				"summary": "Retrieve site information",
				"description": "Retrieve site information",
				"operationId": "getSite",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "The site id or targetName",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Site"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"404": {
						"description": "Not Found",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/Response"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Device": {
			"type": "object",
			"discriminator": "deviceType",
			"properties": {
				"deviceType": {
					"type": "string",
					"enum": [
						"EMAIL",
						"VOICE",
						"TEXT_PHONE",
						"TEXT_PAGER",
						"NUMERIC_PAGER",
						"IM",
						"BROWSER",
						"APPLE_PUSH",
						"FAX",
						"ANDROID_PUSH",
						"BLACKBERRY_PUSH",
						"VOICE_IVR"
					]
				},
				"id": {
					"type": "string"
				},
				"targetName": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"details": {
					"type": "string"
				},
				"emergencyDevice": {
					"type": "boolean"
				},
				"priorityThreshold": {
					"type": "string",
					"enum": ["LOW", "MEDIUM", "HIGH"]
				},
				"status": {
					"type": "string",
					"enum": ["ACTIVE", "INACTIVE"]
				},
				"sequence": {
					"type": "integer"
				},
				"delay": {
					"type": "integer"
				},
				"owner": {
					"$ref": "#/definitions/ReferenceByIdAndSelfLink"
				}
			},
			"required": [
				"deviceType",
				"id",
				"targetName",
				"owner"
			]
		},
		"EmailDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"address": {
					"type": "string"
				}
			},
			"required": [
				"address"
			]
		},
		"VoiceDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"phoneNumber": {
					"type": "string",
					"description": "E.164 international format phone number including country code"
				}
			},
			"required": [
				"phoneNumber"
			]
		},
		"TextPhoneDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"phoneNumber": {
					"type": "string",
					"description": "E.164 international format phone number including country code"
				}
			},
			"required": [
				"phoneNumber"
			]
		},
		"TextPagerDevice": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Device"
				}
			],
			"properties": {
				"pin": {
					"type": "string"
				},
				"isTwoWay": {
					"type": "boolean"
				}
			},
			"required": [
				"pin",
				"isTwoWay"
			]
		},
		"DevicePost": {
			"type": "object",
			"properties": {
				"targetName": {
					"type": "string"
				}
			},
			"required": [
				"targetName"
			]
		},
		"Group": {
			"type": "object",
			"description": "A group",
			"properties": {
				"id": {
					"type": "string"
				},
				"targetName": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"status": {
					"type": "string",
					"default": "ACTIVE",
					"enum": ["ACTIVE", "INACTIVE"]
				},
				"timezone": {
					"type": "string"
				},
				"externallyOwned": {
					"type": "boolean"
				},
				"externalKey": {
					"type": "string"
				},
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"id",
				"targetName",
				"status",
				"links"
			]
		},
		"GroupPost": {
			"type": "object",
			"description": "Adding or updating a group. Will attempt to find group by id if provided or by targetName before creating a new group in the system.",
			"properties": {
				"id": {
					"type": "string"
				},
				"targetName": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"status": {
					"type": "string",
					"default": "ACTIVE",
					"enum": ["ACTIVE", "INACTIVE"]
				},
				"timezone": {
					"type": "string"
				},
				"externallyOwned": {
					"type": "boolean"
				},
				"externalKey": {
					"type": "string"
				},
				"supervisors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/ReferenceById"
					}
				}
			},
			"required": [
				"targetName"
			]
		},
		"GroupMember": {
			"type": "object",
			"description": "Represents group membership",
			"properties": {
				"group": {
					"$ref": "#/definitions/ReferenceByIdAndSelfLink"
				},
				"member": {
					"$ref": "#/definitions/Recipient"
				},
				"shifts": {
					"$ref": "#/definitions/Shifts"
				}
			},
			"required": [
				"group",
				"member"
			]
		},
		"GroupMemberPost": {
			"type": "object",
			"description": "Represents group membership",
			"properties": {
				"group": {
					"$ref": "#/definitions/ReferenceById"
				},
				"member": {
					"$ref": "#/definitions/RecipientPost"
				},
				"shifts": {
					"description": "References to shifts",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ReferenceById"
					}
				}
			},
			"required": [
				"group",
				"member"
			]
		},
		"GroupMembers": {
			"type": "object",
			"description": "Group members",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/GroupMember"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"GroupSupervisor": {
			"type": "object",
			"description": "Represents group supervisor",
			"properties": {
				"group": {
					"$ref": "#/definitions/ReferenceByIdAndSelfLink"
				},
				"supervisor": {
					"$ref": "#/definitions/Person"
				}
			},
			"required": [
				"group",
				"supervisor"
			]
		},
		"GroupSupervisorPost": {
			"type": "object",
			"description": "Adding a group supervisor",
			"properties": {
				"supervisor": {
					"$ref": "#/definitions/ReferenceById"
				}
			},
			"required": [
				"supervisor"
			]
		},
		"GroupSupervisors": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/GroupSupervisor"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"PaginationLinks": {
			"type": "object",
			"properties": {
				"self": {
					"type": "string",
					"description": "URL of this page of the result set",
					"format": "uri"
				},
				"previous": {
					"type": "string",
					"description": "URL of the previous page of the result set",
					"format": "uri"
				},
				"next": {
					"type": "string",
					"description": "URL of the next page of the result set",
					"format": "uri"
				}
			},
			"required": [
				"self"
			]
		},
		"Person": {
			"description": "A user of xMatters services",
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"targetName": {
					"type": "string"
				},
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"status": {
					"type": "string"
				},
				"language": {
					"type": "string"
				},
				"timezone": {
					"type": "string"
				},
				"webLogin": {
					"type": "string"
				},
				"phoneLogin": {
					"type": "string"
				},
				"externallyOwned": {
					"type": "boolean"
				},
				"externalKey": {
					"type": "string"
				},
				"site": {
					"$ref": "#/definitions/ReferenceByIdAndSelfLink"
				},
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"id",
				"targetName",
				"status",
				"links"
			]
		},
		"PersonPost": {
			"type": "object",
			"description": "Adding or updating a person. Will attempt to find person by id if provided or by targetName before creating a new person in the system.",
			"properties": {
				"id": {
					"type": "string"
				},
				"targetName": {
					"type": "string"
				},
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"status": {
					"type": "string"
				},
				"language": {
					"type": "string"
				},
				"timezone": {
					"type": "string"
				},
				"webLogin": {
					"type": "string"
				},
				"phoneLogin": {
					"type": "string"
				},
				"externallyOwned": {
					"type": "boolean"
				},
				"externalKey": {
					"type": "string"
				},
				"roles": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"site": {
					"$ref": "#/definitions/ReferenceById"
				},
				"supervisors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/ReferenceById"
					}
				}
			},
			"required": [
				"targetName",
				"status"
			]
		},
		"Recipient": {
			"type": "object",
			"properties": {
				"group": {
					"$ref": "#/definitions/Group"
				},
				"person": {
					"$ref": "#/definitions/Person"
				},
				"device": {
					"$ref": "#/definitions/Device"
				}
			}
		},
		"RecipientPost": {
			"type": "object",
			"properties": {
				"group": {
					"$ref": "#/definitions/ReferenceById"
				},
				"person": {
					"$ref": "#/definitions/ReferenceById"
				},
				"device": {
					"$ref": "#/definitions/ReferenceById"
				}
			}
		},
		"ReferenceById": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				}
			},
			"required": [
				"id"
			]
		},
		"ReferenceByIdAndSelfLink": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"id",
				"links"
			]
		},
		"ReferenceBySelfLink": {
			"type": "object",
			"properties": {
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"links"
			]
		},
		"Response": {
			"description": "A coded API response",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32",
					"enum": [
						400,
						401,
						403,
						404,
						409,
						429,
						500
					]
				},
				"type": {
					"type": "string"
				},
				"message": {
					"type": "string"
				}
			},
			"required": [
				"code",
				"type",
				"message"
			]
		},
		"SelfLink": {
			"type": "object",
			"properties": {
				"self": {
					"type": "string",
					"description": "URL of this resource"
				}
			},
			"required": [
				"self"
			]
		},
		"Shift": {
			"type": "object",
			"description": "A shift",
			"properties": {
				"group": {
					"$ref": "#/definitions/ReferenceByIdAndSelfLink"
				},
				"id": {
					"type": "string"
				},
				"schedule": {
					"type": "string"
				},
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"group",
				"id",
				"schedule",
				"links"
			]
		},
		"ShiftPost": {
			"type": "object",
			"description": "Adding or updating a shift. Will attempt to find shift by id if provided before creating a new shift in the system.",
			"properties": {
				"group": {
					"$ref": "#/definitions/ReferenceById"
				},
				"id": {
					"type": "string"
				},
				"schedule": {
					"type": "string"
				}
			},
			"required": [
				"group",
				"id",
				"schedule"
			]
		},
		"Shifts": {
			"type": "object",
			"description": "A paginated result set",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Shift"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/PaginationLinks"
				}
			},
			"required": [
				"data",
				"count",
				"total",
				"links"
			]
		},
		"Site": {
			"type": "object",
			"description": "A geographic area",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"status": {
					"type": "string",
					"default": "ACTIVE",
					"enum": ["ACTIVE", "INACTIVE"]
				},
				"language": {
					"type": "string"
				},
				"timezone": {
					"type": "string"
				},
				"address1": {
					"type": "string"
				},
				"address2": {
					"type": "string"
				},
				"city": {
					"type": "string"
				},
				"country": {
					"type": "string"
				},
				"region": {
					"type": "string"
				},
				"externallyOwned": {
					"type": "boolean"
				},
				"externalKey": {
					"type": "string"
				},
				"links": {
					"$ref": "#/definitions/SelfLink"
				}
			},
			"required": [
				"id",
				"name",
				"status",
				"language",
				"timezone",
				"country",
				"externallyOwned",
				"links"
			]
		}
	}
}